#box1 {
    display: flex;
    flex-direction: column;
    width: 1600px;
    height: 1600px;
    background-color: red;
    justify-content: center;
    
}
#box {
    display: flex;
    flex-direction: row;
    width: 1600px;
    height: 100px;
    
}
.ex {
  width: 100px;height: 100px;
}

#a{
    background-color: blue;
    flex-basis: 20%;
}
#b{
    background-color: orange;
    flex-basis: 20%;
}
#c{
    background-color: yellow;
    flex-basis: 20%;
}
#d{
    background-color: green;
    flex-basis: 20%;
}
#e{
    background-color: blue;
    flex-basis: 20%;
}